{
  "presets": [
    ["es2015", { "modules": false }],
    ["env", {
      "modules": false
    }],
    "stage-2",
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    ["component", [{"libraryName": "mint-ui","style": true}]]
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
